#background{    
    background-image: url('img/forest1.png');    
    background-size: 100%;
    background-attachment: inherit;
}
body{
    margin: 0;
    background-color:orange ;
}

.main-game{
    height: 80vh;
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    
}

.titulo{
    font-family:fantasy;
    font-size: 25px;
    color: rgb(59, 26, 26);
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}

.genius{
    display: grid;
    grid-template-areas: 'green red'
    'yellow blue';
    grid-gap: 10px;
    border: 10px solid rgb(59, 26, 26);
    background-color: rgb(59, 26, 26);
    border-radius: 100%;    
    width: 500px;
    height: 500px;
}

.blue{
    grid-area: blue;
    background-color: #708090;
    border-bottom-right-radius: 100%;
}

.red{
    grid-area: red;
    background-color: #B22222;
    border-top-right-radius: 100%;
}

.yellow{
    grid-area: yellow;
    background-color: #FF8C00;
    border-bottom-left-radius: 100%;
}

.green{
    grid-area: green;
    background-color: #556B2F;
    border-top-left-radius: 100%;
}

.selected{
    opacity: 0.5;
}